<div class="tomster">
  <img src="/assets/images/tomster.png">
</div>

{{next-meetup meetup=model.nextMeetup}}

<div class="past-meetup-link">
  {{#link-to 'talks'}}view past meetups{{/link-to}}
</div>