.tomster {
  img {
    max-height: 300px;
    margin-bottom: 20px;
  }
}

.slack {
  text-align: center;
  margin: 20px;
}

.next-meetup {
  .info-block {
    border-bottom: 1px solid $peach;
    border-top: 1px solid $peach;
    padding: 30px;
    margin-bottom: 80px;
  }

  h2 {
    font-size: 30px;
    margin-top: 0;
  }

  .meetup-title {
    font-weight: $body-font-weight;
    font-size: 21px;
  }

  .meetup-date {
    color: $orange;
    font-size: 26px;
    margin: 24px 0;
  }
}

.past-meetup-link {
  font-size: 1.2em;
}

.homepage-action {
  margin-bottom: 80px;
  text-align: center;

  button {
    margin-top: 12px;
    background: $orange;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 700;
    border-radius: 2px;
    border-color: transparent;
  }
}

textarea.large {
  height: 200px;
  width: 300px;
}
