html, body {
  margin: 0;
  padding: 0;
}

body {
  font-weight: $body-font-weight;
  border-top: 20px solid $brand-primary;
  border-bottom: 20px solid $brand-primary;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  flex: 1;
}

.content {
  text-align: left;

  .index & {
    text-align: center;
  }
}

.nav-pills {
  display: inline-block;
  margin-bottom: 24px;

  a {
    color: #333;
    font-size: 1em;
    color: $green;
  }
}

.nav-tabs {
  font-size: 14px;
}

.tab-content {
  padding-top: 20px;
}

.help-block {
  font-size: 14px;
}

.icon-title {
  font-size: 1.2em;
  
  .fa {
    margin-right: 4px;
  }
}
