// app variables
$peach: #F6EAE7;
$orange: #EBA035;
$green: #4A6042;
$blue: #27496B;
$brown: #8C5637;
$body-font-weight: 400;

// bootstrap overrides
$font-family-base: 'Lora', serif;
$font-size-base: 18px;
$headings-font-weight: 700;
$brand-primary: $blue;
$text-color: #333;
$component-active-bg: #fff;
$component-active-color: $brand-primary;
$nav-link-hover-bg: #fff;
$nav-link-padding: 10px 30px;
// $dropdown-link-hover-bg: #fff;
// $dropdown-link-active-bg: #fff;
