{{#if talk.hasSlidesLink}}
<li>
  <a href={{talk.slidesLink}}><i class="fa fa-desktop"></i> Slides</a>
</li>
{{/if}}

{{#if talk.hasVideoLink}}
<li>
  <a href={{talk.videoLink}}><i class="fa fa-video-camera"></i> Video</a>
</li>
{{/if}}
