{{#unless isLoginRoute}}
  <h3>Do some stuff!</h3>

  <ul class="nav nav-tabs">
    {{#link-to 'admin.meetups' tagName='li'}}<a href="#">Manage Meetups</a>{{/link-to}}
    {{#link-to 'admin.presentations' tagName='li'}}<a href="#">Manage Talks</a>{{/link-to}}
    {{#link-to 'admin.workshops' tagName='li'}}<a href="#">Manage Workshops</a>{{/link-to}}
  </ul>
{{/unless}}

<div class="tab-content">
  {{outlet}}
</div>
