<form {{action 'login' on='submit'}}>
  <div class="form-group">
    <label for="email">Email</label>
    {{input type='email' id='email' class='form-control' value=email}}
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    {{input type='password' id='password' class='form-control' value=password}}
  </div>

  <input type="submit" class="btn btn-primary" value="LOGIN">
</form>