{{#link-to 'admin.meetups.new' tagName='button' classNames='btn btn-primary'}}Add New{{/link-to}}

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th># of Talks</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedMeetups as |meetup|}}
      <tr>
        <td>{{moment meetup.date 'MM/DD/YY'}}</td>
        <td>{{meetup.titleForDisplay}}</td>
        <td>{{meetup.presentations.length}}</td>
        <td>
          {{#link-to 'admin.meetups.meetup.edit' meetup.id}}Edit{{/link-to}}
          <a href="#" {{action 'deleteMeetup' meetup}}>Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
