<div id="wrapper">

  <div id="main" class="container {{pageClass}}">
    <ul class="nav nav-pills">
      {{#link-to 'index' tagName='li'}}
        <a href="#" class="logo"><img src="/assets/images/logo.png" alt="Boston Ember"></a>
      {{/link-to}}

      {{#link-to 'presentations' tagName='li'}}
        <a href="#">Talks</a>
      {{/link-to}}

      {{#link-to 'workshops' tagName='li'}}
        <a href="#">Workshops</a>
      {{/link-to}}

      {{#link-to 'speakers' tagName='li'}}
        <a href="#">Speakers</a>
      {{/link-to}}

      {{#link-to 'presentation.new' tagName='li'}}
        <a href="#">Submit a Talk</a>
      {{/link-to}}
    </ul>

    <div class="content">
      {{outlet}}
    </div>
  </div>

  <div id="announcement"></div>
</div>
