<form class="form" {{action 'saveMeetup' on='submit'}}>
  <div class="form-group">
    <label>Time</label>
    {{bs-datetimepicker date=meetup.date format='MM/DD/YYYY - h:mmA'}}
  </div>

  <h4>Presentations</h4>
  <div class="row">
    {{#each meetup.presentations as |presentation|}}
      {{presentation-form presentation=presentation speakers=speakers}}
    {{/each}}
  </div>

  {{! TODO: VENUE }}

  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-default">
  </div>
</form>